html, body {

    height: 100%;
    width:auto;

}

.container {
    height:200px
}

dcontainerid {

    min-height: 70%;
    height: 200px;
}


calbodyhtml {

    min-height: 70%;
    height: 70%;
    

}

btnBodyid {

    min-height: 70%;
    height: 70%;
    

}




